/*!
 * Created By remiel.
 * Date: 14/11/28
 * Time: 下午10:10
 */
html {
  font-size: 16px;
}
@media screen and (min-width: 641px) {
  html {
    font-size: 32px;
  }
}
/*!
 * Created By remiel.
 * Date: 14/11/27
 * Time: 下午12:56
 */
html {
  line-height: 1;
  font-family: Helvetica,DroidSans;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
img,
input,
ul,
li,
h2,
h3,
h4,
p,
table,
tr,
td,
textarea {
  margin: 0;
  padding: 0;
}
h3,
h4 {
  font-weight: normal;
}
body {
  word-break: break-all;
  word-wrap: break-word;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  color: #262626;
  font-size: 12px;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
table {
  border-spacing: 0;
}
textarea,
input {
  border: 0 none;
  outline: 0 none;
  resize: none;
  display: block;
}
input {
  background: none;
}
.u-fl {
  float: left;
}
.u-fr {
  float: right;
}
.u-cf {
  zoom: 1;
}
.u-cf:before,
.u-cf:after {
  content: "";
  display: table;
}
.u-cf:after {
  clear: both;
}
.u-ti_2em {
  text-indent: 2em;
}
.u-hide {
  display: none;
}
.u-show {
  display: block;
}
.u-lazyload_hide {
  opacity: 0;
}
.u-lazyload_show {
  -webkit-transition: opacity 0.4s ease-in 0.01s;
  -moz-transition: opacity 0.4s ease-in 0.01s;
  -o-transition: opacity 0.4s ease-in 0.01s;
  transition: opacity 0.4s ease-in 0.01s;
  opacity: 1;
}
.u-opacity_0 {
  opacity: 0;
}
.u-opacity_1 {
  opacity: 1;
}
.u-transition {
  -webkit-transition: all 0.4s ease-in 0.01s;
  -moz-transition: all 0.4s ease-in 0.01s;
  -o-transition: all 0.4s ease-in 0.01s;
  transition: all 0.4s ease-in 0.01s;
}
.u-box-flex {
  display: -webkit-box;
  display: box;
}
.u-box-flex__inner {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: .001%;
}
.u-link-box {
  display: block;
  color: #000;
}
.u-mask {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.u-loading {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -96px;
  background: #45c8f4;
  line-height: 48px;
  height: 48px;
  width: 192px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.u-loading._hide {
  opacity: 0;
}
.u-loading._show {
  opacity: 1;
}
.u-placeholder {
  background-color: #eee;
  background-image: url("../images/icon/logo.png?v=2014112701");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
}
/*reset*/
img {
  width: 100%;
  display: block;
  border: 0 none;
}
a {
  color: #ffffff;
}
html {
  background: #262626;
}
/*swipe*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-item {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-y .swipe-item {
  display: block;
  height: 100%;
  position: relative;
}
.swipe-dot-box {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.swipe-dot-box i {
  width: 8px;
  height: 8px;
  background: #fff;
  opacity: .3;
  display: inline-block;
  margin-left: 5px;
}
.swipe-dot-box i._active {
  opacity: 1;
}
/*wrapper*/
.inner {
  position: relative;
  width: 940px;
  padding: 0 10px;
  margin: auto;
}
/*header*/
.header,
.header .inner {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  height: 60px;
  background: #bd1a21;
}
.logo {
  width: 170px;
  height: 44px;
  background: url("../images/icon/logo@2x.png??v=2014112701") no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
}
.nav {
  line-height: 60px;
  font-size: 20px;
  position: absolute;
  left: 204px;
}
.nav__item {
  float: left;
  color: #efc7c7;
  padding: 0 25px;
}
.nav ._active,
.nav__item:hover {
  color: #fff;
  background: #a1161c;
}
.search {
  position: absolute;
  top: 14px;
  right: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  overflow: hidden;
  width: 160px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.5s ease 0;
  -moz-transition: width 0.5s ease 0;
  -o-transition: width 0.5s ease 0;
  transition: width 0.5s ease 0;
}
.search,
.search__ipt {
  height: 32px;
}
.search__ipt {
  position: absolute;
  top: 0;
  left: 38px;
  width: 120px;
}
.search._active {
  width: 200px;
}
.icon:before {
  content: '';
  display: block;
  width: 36px;
  height: 32px;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}
.icon-nav {
  display: none;
  padding: 14px 18px;
  position: absolute;
  left: 0;
  top: 0;
}
.icon-nav:before {
  background: #ffffff url("../images/icon/icon_menu@2x.png?v=2014112701") no-repeat 8px 8px;
  background-size: 22px auto;
}
.icon-search {
  position: absolute;
  left: 0;
  top: 0;
}
.icon-search:before {
  background: #ffffff url("../images/icon/icon_search@2x.png?v=2014112701") no-repeat 8px 6px;
  background-size: 20px auto;
}
/*.body*/
.body {
  margin-bottom: 16px;
}
.body .inner {
  width: 630px;
  padding-right: 320px;
  margin-top: 24px;
}
.banner {
  padding: 5px;
  background: #fff;
}
.banner .swipe-item img {
  display: none;
}
.banner .swipe-item:first-child img {
  display: block;
}
.banner .u-placeholder {
  background-size: 170px auto;
}
.mod-header-01 {
  margin-top: 40px;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 1px solid #bd1a21;
  color: #bd1a21;
  position: relative;
}
.mod-header-01 .more {
  position: absolute;
  right: 0;
  bottom: 12px;
  line-height: 37px;
}
.mod-header-01 .more,
.mod-header-01 .more:before {
  width: 91px;
  height: 37px;
}
.mod-header-01 .more:before {
  content: '';
  display: block;
  background: url("../images/icon/icon_more@2x.png?v=2014112701") no-repeat 50px 22px;
  background-size: 34px 11px;
}
.mod-list-01 .__item {
  position: relative;
  overflow: hidden;
  padding: 16px 0 14px 4px;
  margin: 0 25px 0 12px;
  border-bottom: 1px solid #3c3c3c;
}
.mod-list-01 .__img-box {
  position: absolute;
  top: 16px;
  left: 4px;
}
.mod-list-01 .__img-box,
.mod-list-01 .__img-box img {
  width: 44px;
  height: 44px;
}
.mod-list-01 .__main {
  padding-left: 60px;
  height: 44px;
  overflow: hidden;
}
.mod-list-01 .__hd {
  font-size: 12px;
  font-weight: bold;
  color: #747474;
  margin-bottom: 8px;
}
.mod-list-01 .__title {
  float: left;
  max-width: 50%;
}
.mod-list-01 .__info {
  float: right;
  max-width: 50%;
  color: #525151;
  margin-right: 8px;
}
.mod-list-01 .__bd {
  font-size: 14px;
  color: #a9a9a9;
}
.mod-list-01 .__title,
.mod-list-01 .__bd,
.mod-list-01 .__info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fans-post {
  overflow: hidden;
}
.fans-post,
.fans-post .swipe-item {
  height: 150px;
}
.fans-post .swipe-item {
  display: none;
}
.fans-post .swipe-item:first-child {
  display: block;
}
.mod-list-02 .__item {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 10px 11px;
  margin-bottom: 17px;
  background: #323232;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.mod-list-02 .__item:first-child {
  margin-top: 12px;
}
.mod-list-02 .__item:hover {
  background: #464646;
}
.mod-list-02 .__img-box {
  position: absolute;
  top: 10px;
  left: 11px;
}
.mod-list-02 .__img-box,
.mod-list-02 .__img-box img {
  width: 140px;
  height: 100px;
}
.mod-list-02 .__main {
  padding-left: 156px;
  height: 100px;
  overflow: hidden;
}
.mod-list-02 .__hd {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #c7c7c7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod-list-02 .__bd {
  font-size: 12px;
  line-height: 24px;
  max-height: 72px;
  color: #727171;
  overflow: hidden;
}
.mod-list-03 .__item {
  height: 80px;
  background: #dbdbdb;
  color: #3b3b3b;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 9px;
}
.mod-list-03 table {
  width: 100%;
  table-layout: fixed;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.mod-list-03 table tr:first-child td {
  height: 56px;
  vertical-align: middle;
}
.mod-list-03 table td {
  width: 33.333%;
  vertical-align: top;
}
.mod-list-03 img {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.mod-list-03 .__time {
  display: inline-block;
  margin-top: 12px;
  background: #353535;
  background-image: -webkit-linear-gradient(180deg, #414141,#363636);
  background-image: linear-gradient(180deg, #414141,#363636);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  border-radius: 2px;
  width: 56px;
  line-height: 20px;
  color: #8bd210;
  font-size: 14px;
}
.mod-list-03 .__date {
  color: #262626;
  font-weight: normal;
  font-size: 12px;
}
.recent-match {
  overflow: hidden;
  /**/
  position: absolute;
  left: 668px;
  right: 10px;
  top: -4px;
  /**/
}
.recent-match .mod-header-01 {
  margin-bottom: 12px;
  margin-top: 0;
}
/*menu-team*/
.menu-team {
  position: relative;
  padding: 7px;
  height: 32px;
  margin-bottom: 12px;
}
.menu-team .__btn {
  border-radius: 2px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  background: #1585c6;
  background-image: -webkit-linear-gradient(180deg, rgba(255,255,255,0),rgba(0,0,0,.1));
  background-image: linear-gradient(180deg, rgba(255,255,255,0),rgba(0,0,0,.1));
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15) inset, 2px 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  display: block;
}
.menu-team._active {
  background: #f2f2f2;
}
.menu-team._active .menu-team__box {
  display: block;
}
.menu-team__box {
  display: none;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  background: #f2f2f2;
  padding: 0 8px 6px;
}
.menu-team__list-item {
  position: relative;
  margin-bottom: 2px;
  padding-left: 15px;
  line-height: 38px;
  background: #dfdfdf;
  color: #6c6c6c;
  font-size: 14px;
}
.menu-team__list-item._active,
.menu-team__list-item:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}
.menu-team__list-item:hover .menu-team__sub-list {
  display: block;
}
.menu-team__sub-list {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 2px 4px 12px;
  width: 130px;
  background: #fff;
  display: none;
}
.menu-team__sub-list-item {
  margin-bottom: 2px;
  line-height: 38px;
  background: #f5f5f5;
  color: #000;
  font-size: 14px;
  text-align: center;
}
.menu-team__sub-list-item._active,
.menu-team__sub-list-item:hover {
  background: #fafafa;
}
/*footer*/
.footer,
.footer .inner {
  background: #000;
  height: 104px;
}
.footer__content {
  padding-top: 26px;
  text-align: center;
  font: 14/1px Arial;
  color: #6c6c6c;
}
/*mobi*/
@media screen and (max-width: 640px) {
  .inner {
    width: auto;
  }
  .logo {
    width: 126px;
    left: 0;
    right: 0;
    background-position: -44px 0;
  }
  .icon-nav {
    display: block;
  }
  .nav {
    background: #bd1a21;
    line-height: 88px;
    font-size: 24px;
    left: 0;
    top: 60px;
    z-index: 1;
    zoom: 1;
    display: none;
  }
  .nav:before,
  .nav:after {
    content: "";
    display: table;
  }
  .nav:after {
    clear: both;
  }
  .nav__item {
    padding: 0 50px;
    display: block;
    float: none;
  }
  .nav._active {
    display: block;
  }
  .search {
    right: 16px;
    width: 36px;
  }
  /*body*/
  .body {
    margin-bottom: 6px;
  }
  .body .inner {
    width: auto;
    margin-top: 8px;
    padding: 0 10px;
  }
  .banner {
    margin: 0 -6px;
  }
  .mod-header-01 {
    font-size: 32px;
    line-height: 48px;
  }
  .mod-header-01 .more {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
  .mod-header-01 .more:before {
    content: '更多';
    background: #fe9424;
  }
  .mod-list-01 .__item {
    padding: 18px 0 18px 4px;
    margin: 0 16px 0 12px;
  }
  .mod-list-01 .__img-box {
    top: 18px;
  }
  .mod-list-01 .__main {
    height: 74px;
  }
  .mod-list-01 .__hd,
  .mod-list-01 .__bd {
    font-size: 24px;
  }
  .mod-list-01 .__hd {
    margin-bottom: 8px;
  }
  .mod-list-01 .__info {
    margin-right: 0;
  }
  .mod-list-01 .bd {
    line-height: 1;
    margin-bottom: 6px;
  }
  .fans-post,
  .fans-post .swipe-item {
    height: 224px;
  }
  .mod-list-02 .__item {
    margin: 0 -5px 17px;
  }
  .mod-list-02 .__bd,
  .mod-list-02 .__hd {
    font-size: 24px;
    line-height: 30px;
  }
  .mod-list-02 .__hd {
    margin-bottom: 10px;
  }
  .mod-list-02 .__bd {
    max-height: 60px;
  }
  .mod-list-03 {
    max-height: 614px;
    overflow: hidden;
  }
  .mod-list-03 .__item {
    height: 140px;
    margin-bottom: 18px;
  }
  .mod-list-03 table {
    font-size: 28px;
  }
  .mod-list-03 table tr:first-child td {
    height: 98px;
  }
  .mod-list-03 .__time {
    width: 128px;
    line-height: 46px;
    height: 46px;
    font-size: 32px;
    margin: auto;
  }
  .mod-list-03 .__date {
    font-size: 28px;
    color: #858585;
    position: relative;
    top: -2px;
  }
  .recent-match {
    margin: 20px 0 18px;
    /**/
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    /**/
  }
  .recent-match .mod-header-01 {
    margin: 0 0 18px;
  }
  .menu-team {
    display: none;
  }
  /*footer*/
  .footer,
  .footer .inner {
    background: #000;
    height: 74px;
  }
  .footer__content {
    padding-top: 0;
    line-height: 74px;
  }
}
