/*!
 * Created By remiel.
 * Date: 14/11/27
 * Time: 下午12:56
 */
html {
  font-size: 16px;
}
@media screen and (min-width: 641px) {
  html {
    font-size: 32px;
  }
}
html {
  line-height: 1;
  font-family: Helvetica,DroidSans;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
img,
input,
ul,
li,
h2,
h3,
h4,
p,
table,
tr,
td,
textarea {
  margin: 0;
  padding: 0;
}
h3,
h4 {
  font-weight: normal;
}
body {
  word-break: break-all;
  word-wrap: break-word;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  color: #262626;
  font-size: 0.375rem;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
table {
  border-spacing: 0;
}
textarea,
input {
  border: 0 none;
  outline: 0 none;
  resize: none;
  display: block;
}
input {
  background: none;
}
.u-fl {
  float: left;
}
.u-fr {
  float: right;
}
.u-cf {
  zoom: 1;
}
.u-cf:before,
.u-cf:after {
  content: "";
  display: table;
}
.u-cf:after {
  clear: both;
}
.u-ti_2em {
  text-indent: 2em;
}
.u-hide {
  display: none;
}
.u-show {
  display: block;
}
.u-lazyload_hide {
  opacity: 0;
}
.u-lazyload_show {
  -webkit-transition: opacity 0.4s ease-in 0.01s;
  -moz-transition: opacity 0.4s ease-in 0.01s;
  -o-transition: opacity 0.4s ease-in 0.01s;
  transition: opacity 0.4s ease-in 0.01s;
  opacity: 1;
}
.u-opacity_0 {
  opacity: 0;
}
.u-opacity_1 {
  opacity: 1;
}
.u-transition {
  -webkit-transition: all 0.4s ease-in 0.01s;
  -moz-transition: all 0.4s ease-in 0.01s;
  -o-transition: all 0.4s ease-in 0.01s;
  transition: all 0.4s ease-in 0.01s;
}
.u-box-flex {
  display: -webkit-box;
  display: box;
}
.u-box-flex__inner {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: .001%;
}
.u-link-box {
  display: block;
  color: #000;
}
.u-mask {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.u-loading {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin: -0.75rem 0 0 -3rem;
  background: #45c8f4;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 6rem;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.u-loading._hide {
  opacity: 0;
}
.u-loading._show {
  opacity: 1;
}
.u-placeholder {
  background-color: #eee;
  background-image: url("../images/icon/logo.png?v=2014112701");
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
}
/*reset*/
img {
  width: 100%;
  display: block;
  border: 0 none;
}
a {
  color: #ffffff;
}
html {
  background: #262626;
}
/*swipe*/
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-item {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-y .swipe-item {
  display: block;
  height: 100%;
  position: relative;
}
.swipe-dot-box {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
}
.swipe-dot-box i {
  width: 0.25rem;
  height: 0.25rem;
  background: #fff;
  opacity: .3;
  display: inline-block;
  margin-left: 0.15625rem;
}
.swipe-dot-box i._active {
  opacity: 1;
}
/*wrapper*/
.inner {
  position: relative;
  width: 29.375rem;
  padding: 0 0.3125rem;
  margin: auto;
}
/*header*/
.header,
.header .inner {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  height: 1.875rem;
  background: #bd1a21;
}
.logo {
  width: 5.3125rem;
  height: 1.375rem;
  background: url("../images/icon/logo@2x.png??v=2014112701") no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.125rem;
  margin: auto;
}
.nav {
  line-height: 1.875rem;
  font-size: 0.625rem;
  position: absolute;
  left: 6.375rem;
}
.nav__item {
  float: left;
  color: #efc7c7;
  padding: 0 0.78125rem;
}
.nav ._active,
.nav__item:hover {
  color: #fff;
  background: #a1161c;
}
.search {
  position: absolute;
  top: 0.4375rem;
  right: 0.3125rem;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  overflow: hidden;
  width: 5rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.5s ease 0;
  -moz-transition: width 0.5s ease 0;
  -o-transition: width 0.5s ease 0;
  transition: width 0.5s ease 0;
}
.search,
.search__ipt {
  height: 1rem;
}
.search__ipt {
  position: absolute;
  top: 0;
  left: 1.1875rem;
  width: 3.75rem;
}
.search._active {
  width: 6.25rem;
}
.icon:before {
  content: '';
  display: block;
  width: 1.125rem;
  height: 1rem;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.4);
  border-radius: 2px;
}
.icon-nav {
  display: none;
  padding: 0.4375rem 0.5625rem;
  position: absolute;
  left: 0;
  top: 0;
}
.icon-nav:before {
  background: #ffffff url("../images/icon/icon_menu@2x.png?v=2014112701") no-repeat 0.25rem 0.25rem;
  background-size: 0.6875rem auto;
}
.icon-search {
  position: absolute;
  left: 0;
  top: 0;
}
.icon-search:before {
  background: #ffffff url("../images/icon/icon_search@2x.png?v=2014112701") no-repeat 0.25rem 0.1875rem;
  background-size: 0.625rem auto;
}
/*.body*/
.body {
  margin-bottom: 0.5rem;
}
.body .inner {
  width: 19.6875rem;
  padding-right: 10rem;
  margin-top: 0.75rem;
}
.banner {
  padding: 0.15625rem;
  background: #fff;
}
.banner .swipe-item img {
  display: none;
}
.banner .swipe-item:first-child img {
  display: block;
}
.banner .u-placeholder {
  background-size: 5.3125rem auto;
}
.mod-header-01 {
  margin-top: 1.25rem;
  font-size: 0.75rem;
  line-height: 1.125rem;
  border-bottom: 1px solid #bd1a21;
  color: #bd1a21;
  position: relative;
}
.mod-header-01 .more {
  position: absolute;
  right: 0;
  bottom: 0.375rem;
  line-height: 1.15625rem;
}
.mod-header-01 .more,
.mod-header-01 .more:before {
  width: 2.84375rem;
  height: 1.15625rem;
}
.mod-header-01 .more:before {
  content: '';
  display: block;
  background: url("../images/icon/icon_more@2x.png?v=2014112701") no-repeat 1.5625rem 0.6875rem;
  background-size: 1.0625rem 0.34375rem;
}
.mod-list-01 .__item {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 0 0.4375rem 0.125rem;
  margin: 0 0.78125rem 0 0.375rem;
  border-bottom: 1px solid #3c3c3c;
}
.mod-list-01 .__img-box {
  position: absolute;
  top: 0.5rem;
  left: 0.125rem;
}
.mod-list-01 .__img-box,
.mod-list-01 .__img-box img {
  width: 1.375rem;
  height: 1.375rem;
}
.mod-list-01 .__main {
  padding-left: 1.875rem;
  height: 1.375rem;
  overflow: hidden;
}
.mod-list-01 .__hd {
  font-size: 0.375rem;
  font-weight: bold;
  color: #747474;
  margin-bottom: 0.25rem;
}
.mod-list-01 .__title {
  float: left;
  max-width: 50%;
}
.mod-list-01 .__info {
  float: right;
  max-width: 50%;
  color: #525151;
  margin-right: 0.25rem;
}
.mod-list-01 .__bd {
  font-size: 0.4375rem;
  color: #a9a9a9;
}
.mod-list-01 .__title,
.mod-list-01 .__bd,
.mod-list-01 .__info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fans-post {
  overflow: hidden;
}
.fans-post,
.fans-post .swipe-item {
  height: 4.6875rem;
}
.fans-post .swipe-item {
  display: none;
}
.fans-post .swipe-item:first-child {
  display: block;
}
.mod-list-02 .__item {
  border-radius: 0.09375rem;
  position: relative;
  overflow: hidden;
  padding: 0.3125rem 0.34375rem;
  margin-bottom: 0.53125rem;
  background: #323232;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.mod-list-02 .__item:first-child {
  margin-top: 0.375rem;
}
.mod-list-02 .__item:hover {
  background: #464646;
}
.mod-list-02 .__img-box {
  position: absolute;
  top: 0.3125rem;
  left: 0.34375rem;
}
.mod-list-02 .__img-box,
.mod-list-02 .__img-box img {
  width: 4.375rem;
  height: 3.125rem;
}
.mod-list-02 .__main {
  padding-left: 4.875rem;
  height: 3.125rem;
  overflow: hidden;
}
.mod-list-02 .__hd {
  font-size: 0.4375rem;
  line-height: 0.8125rem;
  font-weight: bold;
  color: #c7c7c7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mod-list-02 .__bd {
  font-size: 0.375rem;
  line-height: 0.75rem;
  max-height: 2.25rem;
  color: #727171;
  overflow: hidden;
}
.mod-list-03 .__item {
  height: 2.5rem;
  background: #dbdbdb;
  color: #3b3b3b;
  border-radius: 0.125rem;
  overflow: hidden;
  margin-bottom: 0.28125rem;
}
.mod-list-03 table {
  width: 100%;
  table-layout: fixed;
  font-weight: bold;
  font-size: 0.375rem;
  text-align: center;
}
.mod-list-03 table tr:first-child td {
  height: 1.75rem;
  vertical-align: middle;
}
.mod-list-03 table td {
  width: 33.333%;
  vertical-align: top;
}
.mod-list-03 img {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.mod-list-03 .__time {
  display: inline-block;
  margin-top: 0.375rem;
  background: #353535;
  background-image: -webkit-linear-gradient(180deg, #414141,#363636);
  background-image: linear-gradient(180deg, #414141,#363636);
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4) inset;
  border-radius: 0.0625rem;
  width: 1.75rem;
  line-height: 0.625rem;
  color: #8bd210;
  font-size: 0.4375rem;
}
.mod-list-03 .__date {
  color: #262626;
  font-weight: normal;
  font-size: 0.375rem;
}
.recent-match {
  overflow: hidden;
  /**/
  position: absolute;
  left: 20.875rem;
  right: 0.3125rem;
  top: -0.125rem;
  /**/
}
.recent-match .mod-header-01 {
  margin-bottom: 0.375rem;
  margin-top: 0;
}
/*menu-team*/
.menu-team {
  position: relative;
  padding: 0.21875rem;
  height: 1rem;
  margin-bottom: 0.375rem;
}
.menu-team .__btn {
  border-radius: 0.0625rem;
  line-height: 1rem;
  font-size: 0.4375rem;
  color: #fff;
  background: #1585c6;
  background-image: -webkit-linear-gradient(180deg, rgba(255,255,255,0),rgba(0,0,0,.1));
  background-image: linear-gradient(180deg, rgba(255,255,255,0),rgba(0,0,0,.1));
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15) inset, 2px 0 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  display: block;
}
.menu-team._active {
  background: #f2f2f2;
}
.menu-team._active .menu-team__box {
  display: block;
}
.menu-team__box {
  display: none;
  position: absolute;
  top: 1.4375rem;
  left: 0;
  right: 0;
  background: #f2f2f2;
  padding: 0 0.25rem 0.1875rem;
}
.menu-team__list-item {
  position: relative;
  margin-bottom: 0.0625rem;
  padding-left: 0.46875rem;
  line-height: 1.1875rem;
  background: #dfdfdf;
  color: #6c6c6c;
  font-size: 0.4375rem;
}
.menu-team__list-item._active,
.menu-team__list-item:hover {
  background: #fff;
  color: #000;
  font-weight: bold;
}
.menu-team__list-item:hover .menu-team__sub-list {
  display: block;
}
.menu-team__sub-list {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 0.0625rem 0.125rem 0.375rem;
  width: 4.0625rem;
  background: #fff;
  display: none;
}
.menu-team__sub-list-item {
  margin-bottom: 0.0625rem;
  line-height: 1.1875rem;
  background: #f5f5f5;
  color: #000;
  font-size: 0.4375rem;
  text-align: center;
}
.menu-team__sub-list-item._active,
.menu-team__sub-list-item:hover {
  background: #fafafa;
}
/*footer*/
.footer,
.footer .inner {
  background: #000;
  height: 3.25rem;
}
.footer__content {
  padding-top: 0.8125rem;
  text-align: center;
  font: 14/16rem/0.5 Arial;
  color: #6c6c6c;
}
/*mobi*/
@media screen and (max-width: 640px) {
  .logo {
    width: 3.9375rem;
    left: 0;
    right: 0;
    background-position: -1.375rem 0;
  }
  .icon-nav {
    display: block;
  }
  .nav {
    background: #bd1a21;
    line-height: 2.75rem;
    font-size: 0.75rem;
    left: 0;
    top: 1.875rem;
    z-index: 1;
    zoom: 1;
    display: none;
  }
  .nav:before,
  .nav:after {
    content: "";
    display: table;
  }
  .nav:after {
    clear: both;
  }
  .nav__item {
    padding: 0 1.5625rem;
    display: block;
    float: none;
  }
  .nav._active {
    display: block;
  }
  .search {
    right: 0.5rem;
    width: 1.125rem;
  }
  /*body*/
  .body {
    margin-bottom: 0.1875rem;
  }
  .body .inner {
    width: auto;
    margin-top: 0.25rem;
    padding: 0 0.3125rem;
  }
  .banner {
    margin: 0 -0.1875rem;
  }
  .mod-header-01 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .mod-header-01 .more {
    font-size: 0.75rem;
    color: #fff;
    text-align: center;
  }
  .mod-header-01 .more:before {
    content: '更多';
    background: #fe9424;
  }
  .mod-list-01 .__item {
    padding: 0.5625rem 0 0.5625rem 0.125rem;
    margin: 0 0.5rem 0 0.375rem;
  }
  .mod-list-01 .__img-box {
    top: 0.5625rem;
  }
  .mod-list-01 .__main {
    height: 2.3125rem;
  }
  .mod-list-01 .__hd,
  .mod-list-01 .__bd {
    font-size: 0.75rem;
  }
  .mod-list-01 .__hd {
    margin-bottom: 0.25rem;
  }
  .mod-list-01 .__info {
    margin-right: 0;
  }
  .mod-list-01 .bd {
    line-height: 1;
    margin-bottom: 0.1875rem;
  }
  .fans-post,
  .fans-post .swipe-item {
    height: 7rem;
  }
  .mod-list-02 .__item {
    margin: 0 -0.15625rem 0.53125rem;
  }
  .mod-list-02 .__bd,
  .mod-list-02 .__hd {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
  .mod-list-02 .__hd {
    margin-bottom: 0.3125rem;
  }
  .mod-list-02 .__bd {
    max-height: 1.875rem;
  }
  .mod-list-03 {
    max-height: 19.1875rem;
    overflow: hidden;
  }
  .mod-list-03 .__item {
    height: 4.375rem;
    margin-bottom: 0.5625rem;
  }
  .mod-list-03 table {
    font-size: 0.875rem;
  }
  .mod-list-03 table tr:first-child td {
    height: 3.0625rem;
  }
  .mod-list-03 .__time {
    width: 4rem;
    line-height: 1.4375rem;
    height: 1.4375rem;
    font-size: 1rem;
    margin: auto;
  }
  .mod-list-03 .__date {
    font-size: 0.875rem;
    color: #858585;
    position: relative;
    top: -0.0625rem;
  }
  .recent-match {
    margin: 0.625rem 0 0.5625rem;
    /**/
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    /**/
  }
  .recent-match .mod-header-01 {
    margin: 0 0 0.5625rem;
  }
  .menu-team {
    display: none;
  }
  /*footer*/
  .footer,
  .footer .inner {
    background: #000;
    height: 2.3125rem;
  }
  .footer__content {
    padding-top: 0;
    line-height: 2.3125rem;
  }
}
